<div class="parent">
<mat-card>
    <mat-card-header>
        <h2 class="text-center">User signup from</h2>
    </mat-card-header>
    <mat-card-content >
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registration()">
            <mat-form-field class="example-full-width">
              <mat-label>User name</mat-label>
              <input matInput placeholder="Komal" formControlname="id" >
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Komal Kopnar" formControlname="name" >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="********" formControlname="password" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Komal@gmail.com" formControlname="email" >
              </mat-form-field>
              <mat-radio-group formControlname="gender" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="male">Female</mat-radio-button>

            </mat-radio-group>
            <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to login</a>
            </div>

          </form>
          
    </mat-card-content>
</mat-card>
</div>




  